*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.sidebar {
  background-color: #333;
  height: 50px;
  width: 100vw;
  z-index: 999;
  position: fixed;
}

input[type="checkbox"] {
  display: none;
}

.sidebar .menu-btn {
  position: fixed;
  -webkit-backface-visibility: hidden;
  top: 5px;
  left: 5px;
  height: 40px;
  width: 40px;
  z-index: 999;
  background: none;
  color: #f2f2f2;
  filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.2));
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

#sidebar-menu-btn:checked ~ .menu-btn i::before {
  content: "\f00d";
}

#sidebar-menu-btn:checked ~ .menu-btn {
  color: #333;
}

.sidebar #menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #f2f2f2;
  overflow: hidden;
  left: -100vw;
  transition: all 0.3s ease;
}

#sidebar-menu-btn:checked ~ #menu {
  left: 0;
}

#menu .title {
  color: #4a4a4a;
  font-size: 25px;
  font-weight: 600;
  line-height: 85px;
  background: #e2e2e2;
  text-align: center;
  border-bottom: 1px solid #333;
}

#menu .menu-items {
  position: relative;
  background: #f2f2f2;
  height: 100%;
  width: 100%;
  list-style: none;
}

#menu .menu-items li {
  padding-left: 40px;
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

#menu .menu-items li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

#menu .menu-items li:hover {
  box-shadow: 0 0 10px 3px #222;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

#menu .menu-items li a i {
  margin-right: 20px;
  width: 20px;
}

.hero-wrapper {
  background-image: url("https://a.abcnews.com/images/US/GTY-blm-project-ml-7-161226_3x2_1600.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-wrapper .title {
  z-index: 0;
  background: rgba(0,0,0,0.7);
  padding: 20px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 1500;
}

.hero-wrapper #hero-video {
  display: none;
}

.hero-btn-wrapper {
  margin-top: 10px;
}

.scroll-down-btn {
  margin-top: 20px;
  color: #f1f1f1;
  position: relative;
  text-decoration: none;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  20% {
    top: 10px;
  }
  40% {
    top: 0px;
  }
  60% {
    top: 10px;
  }
  80% {
    top: 0px;
  }
}

.scroll-down-btn i {
  position: relative;
  top: 20px;
  right: 50px;
  text-align: center;
}

.main-content-wrapper {
  border-top: 50px solid black;
}

.water-wrapper {
  z-index: -1;
  height: 0px;
  position: absolute;
}

#water {
  z-index: -1;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.section-wrapper-a, .section-wrapper-b {
  border-bottom: 5px solid black;
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-sidebar {    /* top bar */
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  height: 100px;
  width: 100vw;
  background-color: rgba(221,221,221,0.9);
}

.section-heading {
  font-family: "Newsreader", serif;
  font-style: italic;
  font-weight: 400;
  position: relative;
  padding: 25px;
  font-size: 28px;
}

.section-content {
  height: auto;
  padding: 10px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(241,241,241,0.9);
}

.section-content p {
  padding: 20px;
  font-size: 14px;
}

.image-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-row img {
  margin: 15px;
  max-width: 60vw;
  height: auto;
  border: 2px solid black;
  filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.5));
}

.block-quote {
  margin: 25px;
  padding: 10px;
  line-height: 20px;
  background-color: #ffa;
  filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.2));
}

.block-quote p {
  font-size: 16px;
  font-family: "Newsreader", serif;
  font-style: italic;
  color: #555;
}

.quote {
  margin: 25px;
  padding: 10px;
  line-height: 20px;
  background-color: #fff;
  filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.2));
}

.source-link {
  font-size: 16px;
  font-family: "Newsreader", serif;
  font-style: italic;
  color: #888;
}

.audio-wrapper {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 20%;
  font-size: 1rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-right: 25px;
}

.audio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.footer-wrapper {
  min-height: 100vh;
  background-color: #555;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final-quote {
  background-color: #777;
  padding: 25px;
  margin: 50px;
  filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.2));
}

.final-quote p {
  font-family: "Newsreader", serif;
  font-size: 20px;
  font-style: italic;
}

.bold {
  font-family: "Newsreader", serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  text-shadow: 0 0 0.8em #fff;
}

.footer {
  text-align: center;
  padding: 25px;
}

.footer a {
  text-decoration: none;
  color: #aaa;
}

.footer p {
  font-size: 10px;
}

.footer a:hover {
  text-decoration: underline;
}
